footer {
    background-color: #A9B388;
    color: white;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 14px;
}

.social-icons td{
    vertical-align: middle;
    text-align: center;
    padding: 0px 0px;
    margin: 0px 0px;
}
.social-icons img{
  height: 20px;
  text-decoration: none;
  vertical-align: middle;
  text-align: center;
  padding: 0px 0px;
  margin: 0px 0px;
}

.social-icons a {
  color : white;
  text-decoration: none;
  vertical-align: middle;
  text-align: left;
  padding: 0px 0px;
  margin: 0px 0px;
}